spring:
  application:
    name: all-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/pos-monolithic
    username: postgres
    password: Prami@3990
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true #  to enable non-contextual LOB creation
    show-sql: true
  security:
    user:
      name: lifepill
      password: 12345
  redis:
    host: localhost
    port: 6379

server:
  port: 8079

logging:
  level:
    org.springframework.security: TRACE
