spring:
  application:
    name: MAIN-POS-BACKEND
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO:update}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    jdbc:
      lob:
        non_contextual_creation: true
    show-sql: ${JDBC_SHOW_SQL}
  security:
    user:
      name: ${SPRING_SECURITY_USERNAME}
      password: ${SPRING_SECURITY_PASSWORD}
  redis:
    host: ${${REDIS_HOST}}
    port: ${REDIS_PORT}
  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_USER_NAME}
    password: ${SPRING_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: ${SERVER_PORT}

logging:
  level:
    org.springframework.security: ${SECURITY_DEBUG:DEBUG}

aws:
  access.key: ${AWS_ACCESS_KEY}
  secret.key: ${AWS_SECRET_KEY}
  s3.bucket: ${AWS_S3_BUCKET}
  region: ${AWS_REGION}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    mail:
      enabled: ${MAIL_HEALTH}
    redis:
      enabled: ${REDIS_HEALTH}
  metrics:
    export:
      prometheus:
        enabled: ${PROMETHEUS_METRICS_EXPORT}

#twilio:
#  accountSid: ${TWILIO_ACCOUNT_SID}
#  authToken: ${TWILIO_AUTH_TOKEN}
#  fromPhoneNumber: ${TWILIO_FROM_PHONE_NUMBER}